<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://d3js.org/d3.v4.js"></script>
    <title>{% block title %} SatSolver-en bidez problemak ebazteko Web-Tresna {% endblock %}</title>
    <script type="text/javascript">
        var segida = {{ seg|tojson }};
        var batuketa = {{ bat|tojson }};
        var batukaria = {{ bilatu|tojson }};
        var lista = {{ lista|tojson }};
        var soluzioa = {{ ind|tojson }};
        
        function descargar() {
            var filename = batukaria + "_batu.txt";
            var hasiera = "************************************KISSAT ERANTZUNA************************************\n\n";
            var kissat = {{ fitx|tojson }};
            var erdian = "\n\n\n\n*******************************ERANTZUNAREN BATUKETA*******************************\n\n";
            var bukaera2 = "\n\n\n\n*******************************ZENBAKIEN SEGUIDA*******************************\n\n";
            var bukaera3 = "\n\n\n\n*******************************LORTU NAHI ZEN BATUKETA*******************************\n\n";
            var bukaera4 = "\n\n\n\n*******************************EMAITZAREN SEGIDA*******************************\n\n";
            if (soluzioa!=-1){
                var text = hasiera + kissat + bukaera2 + segida + bukaera3 + batukaria + bukaera4 + lista + erdian + batuketa;
            }else{
                var text = hasiera + kissat + bukaera2 + segida + bukaera3 + batukaria;
            }     
            var element = document.createElement('a');
            element.setAttribute('href', 'data:text/plain;charset=utf-8,' + encodeURIComponent(text));
            element.setAttribute('download', filename);

            element.style.display = 'none';
            document.body.appendChild(element);

            element.click();

            document.body.removeChild(element);
        }
        function descargatu(){
            var canvas = document.getElementById("canvas");
            // Convert the canvas to data
            var image = canvas.toDataURL();
            // Create a link
            var aDownloadLink = document.createElement('a');
            // Add the name of the file to the link
            aDownloadLink.download = batukaria + "_batu.png";
            // Attach the data to the link
            aDownloadLink.href = image;
            // Get the code to click the download link
            aDownloadLink.click();
        }
    </script>
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-light bg-light">
        <a class="navbar-brand" href="{{ url_for('index')}}">Hasiera Orria</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>
    <nav class="navbar navbar-expand-md navbar-light bg-light">
        <a id="descargaTxt" class="navbar-brand" href="#0" onclick="descargar()" >Kissat Emaitza + segidaren datuak + emaitza TXT moduan gorde</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>
    <nav class="navbar navbar-expand-md navbar-light bg-light">
        <a style="display: block;" id="descargaTreemap" class="navbar-brand" href="#0" onclick="descargatu()">Emaitza PNG moduan gorde</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav> 

    <h6 id="zenbSeguida"></h6>
    <h6 id="solZenbSeguida"></h6>
    <h6 id="lortzekoBat"></h6>
    <h6 id="erantzunBat"></h6>
    <h6 id="karga" style="display: none;">Ctrl + F5 egin irudia ez bada ondo kargatu:</h6>
    <canvas id="canvas" width="600" height ="600"></canvas><br/>
    <img style="display: none;"id="treemapPng"/><br/>
    <div id="my_dataviz" style="display: none;"></div>
    <script type="text/javascript">
        zenbSeguida.innerText = "Sortu den zenbakien segida: [" + segida + "]";
        lortzekoBat.innerText = "Lortu nahi den batukaria: " + batukaria;
        if (soluzioa==-1){
            erantzunBat.innerText = "Ezin da batuketa sortu: UNSATISFIABLE";
            karga.innerText = "";
            document.getElementById('descargaTreemap').style.display = "none";
        }else{
            solZenbSeguida.innerText = "Emaitzaren soluzio segida: [" + lista + "]";
            erantzunBat.innerText = "Lortu den batuketa: " + batuketa;
            
            // set the dimensions and margins of the graph
            var margin = {top: 10, right: 10, bottom: 10, left: 10},
              width = 600 - margin.left - margin.right,
              height = 600 - margin.top - margin.bottom;

            // append the svg object to the body of the page
            var svg = d3.select("#my_dataviz")
            .append("svg")
              .attr("id","map")
              .attr("width", width + margin.left + margin.right)
              .attr("height", height + margin.top + margin.bottom)
            .append("g")
              .attr("transform",
                    "translate(" + margin.left + "," + margin.top + ")");
            // Read data
            d3.csv("{{url_for('static', filename='plot.csv')}}", function(data) {

              // stratify the data: reformatting for d3.js
              var root = d3.stratify()
                .id(function(d) { return d.name; })   // Name of the entity (column name is name in csv)
                .parentId(function(d) { return d.parent; })   // Name of the parent (column name is parent in csv)
                (data);
              root.sum(function(d) { return +d.value })   // Compute the numeric value for each entity

              // Then d3.treemap computes the position of each element of the hierarchy
              // The coordinates are added to the root object above
              d3.treemap()
                .size([width, height])
                .padding(4)
                (root)

            console.log(root.leaves())
              // use this information to add rectangles:
              svg
                .selectAll("rect")
                .data(root.leaves())
                .enter()
                .append("rect")
                  .attr('x', function (d) { return d.x0; })
                  .attr('y', function (d) { return d.y0; })
                  .attr('width', function (d) { return d.x1 - d.x0; })
                  .attr('height', function (d) { return d.y1 - d.y0; })
                  .style("stroke", "black")
                  .style("fill", "#69b3a2");

              // and to add the text labels
              svg
                .selectAll("text")
                .data(root.leaves())
                .enter()
                .append("text")
                  .attr("x", function(d){ return d.x0+10})    // +10 to adjust position (more right)
                  .attr("y", function(d){ return d.y0+20})    // +20 to adjust position (lower)
                  .text(function(d){ return d.data.name})
                  .attr("font-size", "15px")
                  .attr("fill", "white")

                var img = document.querySelector('img');
                var canvas = document.querySelector('canvas');

                // get svg data
                var mysvg = d3.select("svg");
                var xml = new XMLSerializer().serializeToString(mysvg.node());

                // make it base64
                var svg64 = btoa(xml);
                var b64Start = 'data:image/svg+xml;base64,';

                // prepend a "header"
                var image64 = b64Start + svg64;
                img.onload = function() {
                    // draw the image onto the canvas
                    canvas.getContext('2d').drawImage(img, 0, 0);
                }
                img.src = image64;
                document.getElementById('descargaTreemap').href = image64;
            })
        }
        
    </script>
    </body>
</html>