<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://d3js.org/d3.v3.min.js"></script>
    <title>{% block title %} SatSolver-en bidez problemak ebazteko Web-Tresna {% endblock %}</title>
    <script type="text/javascript">
        const nodoak = {{ nodes|tojson }};
        const ertzak = {{ edges|tojson }};
        const bidea = {{ bidea|tojson }};
        
        for (var x=0; x<ertzak.length; x++){
            var y=0;
            while(y<ertzak.length){
                if(ertzak[x][0] == ertzak[y][1] && ertzak[x][1] == ertzak[y][0]){
                    ertzak.splice(y, 1); 
                }else{
                    y++;
                }
            }
        }
        
        var emaitza = {{ result }};
        var mtrx = {{ mtrx }};
            
        function descargar() {
            var filename = nodoak.length + "_nodo_" + ertzak.length / 2 + "_ertz.txt";
            var hasiera = "************************************KISSAT ERANTZUNA************************************\n\n";
            var kissat = {{ fitx|tojson }};
            var bukaera = "\n\n\n\n*******************************IBILBIDE MATRIZEA*******************************\n\n";
            var bukaera2 = "\n\n\n\n*******************************GRAFOAREN MATRIZEA*******************************\n\n";
            var matrizea2 = "[";
            for(var x=0; x<mtrx.length; x++){
                if (x+1<mtrx.length){ 
                    matrizea2 += "[" + mtrx[x] + "],\n"
                }else{
                    matrizea2 += "[" + mtrx[x] + "]]\n"
                }
            };
            if (emaitza!=-1){
                var matrizea = "[";
                for(var x=0; x<emaitza.length; x++){
                    if (x+1<emaitza.length){ 
                        matrizea += "[" + emaitza[x] + "],\n"
                    }else{
                        matrizea += "[" + emaitza[x] + "]]\n"
                    }
                };
                var text = hasiera + kissat + bukaera + matrizea + bukaera2 + matrizea2;
            }else{
                var text = hasiera + kissat + bukaera2 + matrizea2;
            }     
            var element = document.createElement('a');
            element.setAttribute('href', 'data:text/plain;charset=utf-8,' + encodeURIComponent(text));
            element.setAttribute('download', filename);

            element.style.display = 'none';
            document.body.appendChild(element);

            element.click();

            document.body.removeChild(element);
        }
        
        function descargatu(){
        /*  -------SVG MODUAN DESKARGATU NAHI BADA -------
            var svg3 = document.getElementById('graph');

            //get svg source.
            var serializer2 = new XMLSerializer();
            var source2 = serializer2.serializeToString(svg3);

            //add name spaces.
            if(!source2.match(/^<svg[^>]+xmlns="http\:\/\/www\.w3\.org\/2000\/svg"/)){
                source2 = source2.replace(/^<svg/, '<svg xmlns="http://www.w3.org/2000/svg"');
            }
            if(!source2.match(/^<svg[^>]+"http\:\/\/www\.w3\.org\/1999\/xlink"/)){
                source2 = source2.replace(/^<svg/, '<svg xmlns:xlink="http://www.w3.org/1999/xlink"');
            }

            //add xml declaration
            source2 = '<?xml version="1.0" standalone="no"?>\r\n' + source2;

            //convert svg source to URI data scheme.
            var url2 = "data:image/svg+xml;charset=utf-8,"+encodeURIComponent(source2);
            var nombre = nodoak.length + "_nodo_" + ertzak.length / 2 + "_ertz_Irudia.svg";
            var element = document.createElement('a');
            element.setAttribute('href', url2);
            element.setAttribute('download', nombre);

            element.style.display = 'none';
            document.body.appendChild(element);

            element.click();

            document.body.removeChild(element);
            */            
            var mySVG2 = document.querySelector('#graph');
                tgtImage2 = document.querySelector('#grafodescarga'),
                can2 = document.createElement('canvas'),
                ctx2 = can2.getContext('2d'),
                loader2 = new Image;

            loader2.width = can2.width = tgtImage2.width = mySVG2.clientWidth;
            loader2.height = can2.height = tgtImage2.height = mySVG2.clientHeight;

            loader2.onload = function() {
                ctx2.drawImage(loader2, 0, 0, loader2.width, loader2.height);
                tgtImage2.src = can2.toDataURL();
            };

            var svgAsXML2 = (new XMLSerializer).serializeToString(mySVG2);
            loader2.src = 'data:image/svg+xml,' + encodeURIComponent(svgAsXML2);

            tgtImage2.onload = function() {
                var nombre = nodoak.length + "_nodo_" + ertzak.length / 2 + "_ertz_Irudia.png";
                var element = document.createElement('a');
                element.setAttribute('href', tgtImage2.src);
                element.setAttribute('download', nombre);
                element.style.display = 'none';
                document.body.appendChild(element);

                element.click();

                document.body.removeChild(element);
            };
       
        }
    </script>
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-light bg-light">
        <a class="navbar-brand" href="{{ url_for('index')}}">Hasiera Orria</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>
    <nav class="navbar navbar-expand-md navbar-light bg-light">
        <a id="descargaTxt" class="navbar-brand" href="#0" onclick="descargar()" >Kissat Emaitza + ibilbide Matrizea + grafoa TXT moduan gorde</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
    </nav>
    <nav style="display: block;" id="descargarrr" class="navbar navbar-expand-md navbar-light bg-light">
        <a style="display: block;" id="descargaGrafo" class="navbar-brand" href="#0" onclick="descargatu()" >Grafoa bide hamiltondarrarekin PNG moduan gorde</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav> 
    <script src="//d3js.org/d3.v3.min.js"></script>
    <h3>Sortu duzun grafoa:</h3>
    <script type="text/javascript">
        
        var links = [];
        for (var x=0; x<ertzak.length; x++){
            links.push({source: ertzak[x][0], target: ertzak[x][1], type: 'suit'});
        }

        var nodes = {};

        // Compute the distinct nodes from the links.
        links.forEach(function(link) {
          link.source = nodes[link.source] || (nodes[link.source] = {name: link.source});
          link.target = nodes[link.target] || (nodes[link.target] = {name: link.target});
        });

        var width = 1500,
            height = 1200;

        var cssText = '.link {' +
            'fill: none;' +
            'stroke: #666;' +
            'stroke-width: 3px;' +
        '}' +
        '#licensing {' +
            'fill: red;' +
        '}' +
        '.link.licensing {' +
            'stroke: red;' +
        '}' +
        '.link.resolved {' +
            'stroke-dasharray: 0,2 1;' +
        '}' +
        'circle {' +
            'fill: #ccc;' +
            'stroke: #333;' +
            'stroke-width: 1.5px;' +
        '}' +
        'text {' +
            'font: 20px sans-serif;' +
            'pointer-events: none;' +
        '}' 
        
        var force = d3.layout.force()
            .nodes(d3.values(nodes))
            .links(links)
            .size([width, height])
            .linkDistance(250)
            .charge(-1200)
            .on("tick", tick)
            .start();

        var svg = d3.select("body").append("svg")
            .attr("width", width)
            .attr("height", height);

        svg.append("style").text(cssText)

        // Per-type markers, as they don't inherit styles.
        svg.append("defs").selectAll("marker")
            .data(["suit", "licensing", "resolved"])
          .enter().append("marker")
            .attr("id", function(d) { return d; })
            .attr("viewBox", "0 -5 10 10")
            .attr("refX", 20)
            .attr("refY", -1.5)
            .attr("markerWidth", 0)
            .attr("markerHeight", 0)
            .attr("orient", "auto")
          .append("path")
            .attr("d", "M0,-5L10,0L0,5");

        var path = svg.append("g").selectAll("path")
            .data(force.links())
          .enter().append("path")
            .attr("class", function(d) { return "link " + d.type; })
            .attr("marker-end", function(d) { return "url(#" + d.type + ")"; });

        var circle = svg.append("g").selectAll("circle")
            .data(force.nodes())
          .enter().append("circle")
            .attr("r", 20)
            .call(force.drag);

        var text = svg.append("g").selectAll("text")
            .data(force.nodes())
          .enter().append("text")
            .attr("x", 0)
            .attr("y", ".31em")
            .text(function(d) { return d.name; });

        // Use elliptical arc path segments to doubly-encode directionality.
        function tick() {
          path.attr("d", linkArc);
          circle.attr("transform", transform);
          text.attr("transform", transform);
        }

        function linkArc(d) {
          var dx = d.target.x - d.source.x,
              dy = d.target.y - d.source.y,
              dr = Math.sqrt(dx * dx + dy * dy);
          return "M" + d.source.x + "," + d.source.y + "A" + dr + "," + dr + " 0 0,1 " + d.target.x + "," + d.target.y;
        }

        function transform(d) {
          return "translate(" + d.x + "," + d.y + ")";
        }

    </script>
    <h3 id="gaizki" style="display: none">Grafoak ez dauka bide Hamiltondarra: UNSATISFIABLE</h3>
    <h3 id="ondo" style="display: block">Grafoaren bide Hamiltondarra (Gorriz):</h3>
    <script type="text/javascript">
        if (emaitza!=-1){
            var links2 = [];
            var lag = false;
            for (var x=0; x<ertzak.length; x++){
                for (var y=0; y<bidea.length; y++){
                    if((ertzak[x][0] == bidea[y][1] && ertzak[x][1] == bidea[y][0]) || (ertzak[x][0] == bidea[y][0] && ertzak[x][1] == bidea[y][1])){
                        lag = true;
                    }
                }
                if(lag == false){
                    links2.push({source: ertzak[x][0], target: ertzak[x][1], type: 'suit'});
                }else if(lag == true){
                    links2.push({source: ertzak[x][0], target: ertzak[x][1], type: 'licensing'});
                }
                lag = false;
            }

            var nodes2 = {};

            // Compute the distinct nodes from the links.
            links2.forEach(function(link) {
              link.source = nodes2[link.source] || (nodes2[link.source] = {name: link.source});
              link.target = nodes2[link.target] || (nodes2[link.target] = {name: link.target});
            });

            var force2 = d3.layout.force()
                .nodes(d3.values(nodes2))
                .links(links2)
                .size([width, height])
                .linkDistance(250)
                .charge(-1200)
                .on("tick", tick)
                .start();

            var svg2 = d3.select("body").append("svg")
                .attr("id","graph")
                .attr("width", width)
                .attr("height", height);

            svg2.append("style").text(cssText)

            // Per-type markers, as they don't inherit styles.
            svg2.append("defs").selectAll("marker")
                .data(["suit", "licensing", "resolved"])
              .enter().append("marker")
                .attr("id", function(d) { return d; })
                .attr("viewBox", "0 -5 10 10")
                .attr("refX", 20)
                .attr("refY", -1.5)
                .attr("markerWidth", 0)
                .attr("markerHeight", 0)
                .attr("orient", "auto")
              .append("path")
                .attr("d", "M0,-5L10,0L0,5");

            var path2 = svg2.append("g").selectAll("path")
                .data(force2.links())
              .enter().append("path")
                .attr("class", function(d) { return "link " + d.type; })
                .attr("marker-end", function(d) { return "url(#" + d.type + ")"; });

            var circle2 = svg2.append("g").selectAll("circle")
                .data(force2.nodes())
              .enter().append("circle")
                .attr("r", 20)
                .call(force2.drag);

            var text2 = svg2.append("g").selectAll("text")
                .data(force2.nodes())
              .enter().append("text")
                .attr("x", 0)
                .attr("y", ".31em")
                .text(function(d) { return d.name; });

            // Use elliptical arc path segments to doubly-encode directionality.
            function tick() {
              path2.attr("d", linkArc);
              circle2.attr("transform", transform);
              text2.attr("transform", transform);
            }

            function linkArc(d) {
              var dx = d.target.x - d.source.x,
                  dy = d.target.y - d.source.y,
                  dr = Math.sqrt(dx * dx + dy * dy);
              return "M" + d.source.x + "," + d.source.y + "A" + dr + "," + dr + " 0 0,1 " + d.target.x + "," + d.target.y;
            }

            function transform(d) {
              return "translate(" + d.x + "," + d.y + ")";
            }

        }else{
            document.getElementById('ondo').style.display = "none";
            document.getElementById('gaizki').style.display = "block";
            document.getElementById('descargarrr').style.display = "none";
        }
    </script>
    <img id="grafodescarga" style="display: none; position: absolute; top: 250px; left: 30px;"/>
    </body>
</html>